/* .arrow-prev {
    display: block;
  z-index: 5;
  font-size: 2.3em;
  position: fixed;
  position: relative;
  top: 50%;
  left: 2%;
}

.arrow-next {
    display: block;
  z-index: 5;
  font-size: 2.3em;
  position: fixed;
  position: relative;
  top: 50%;
  right: 2%;
} */
