.category-container {
  background-color: #f5f5f8;
  margin-right: 0;
}

.category-links {
  color: #a435ef;
  font-weight: 600;
  text-decoration: underline !important;
}

p {
  font-size: small;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .columns {
    text-align: center;
  }
  .main-heading{
    text-align: center;
  }
}
