.accordion-header {
    box-shadow: none;
    background-color: white;
  }
  
  .accordion-button:not(.collapsed),
  .accordion-button.collapsed {
    color: black;
    background-color: white;
    box-shadow: none;
    border: 0px;
  }
  
  .accordion-body {
      padding: 0.5em;
  }